<section class="container">
    <div class="userIcon">
            <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <h1>
        Criar uma conta
    </h1>
    <p>
        Complete os campos com as suas informações
    </p>
    <div class="contInputs">
        <mat-form-field class="example-full-width">
            <mat-label>Nome Completo</mat-label>
            <input matInput value="">
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput value="">
          </mat-form-field>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmar senha</mat-label>
            <input matInput [type]="hideConfirm ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button class="btn" type="button">Criar uma conta</button>
    </div>
</section>
