<nav class="footer">
    <section class="container">
        <div class="contInfos">
            <h2>
                Categorias
            </h2>
            <div class="categs">
                <p>
                    Cachorro
                </p>
                <p>
                    Gatos
                </p>
                <p>
                    Pássaros
                </p>
                <p>
                    Casa
                </p>
                <p>
                    Jardim
                </p>
                <p>
                    Peixes
                </p>
                <p>
                    Outros Pets
                </p>
            </div>
            <h2>
                Raças
            </h2>
            <div class="racas">
                <a href="https://www.cobasi.com.br/racas/cachorro/pug">
                    Pug
                </a>
                <a href="https://www.cobasi.com.br/racas/cachorro/rottweiler">
                    Rottweiler
                </a>
                <a href="https://www.cobasi.com.br/racas/cachorro/pitbull">
                    Pitbull
                </a>
                <a href="https://www.cobasi.com.br/racas/cachorro/border-collie">
                    Border Collie
                </a>
                <a href="https://www.cobasi.com.br/racas/cachorro/golden-retriever">
                    Golden retriever
                </a>
            </div>
            <h3>
                Formas de Pagamento:
                Visa, MasterCard, Diners Club, American Express; Boleto bancário; Elo e Apple Pay.
            </h3>
            <p>
                * As promoções, parcerias e descontos contidos em nosso site não são cumulativos. Diante de duas ou mais
                promoções, será necessário optar por aquela que melhor lhe convém, isentando a Cobasi de qualquer
                responsabilidade nesse sentido. Preços e condições de pagamento exclusivos para compras via internet,
                podendo variar nas lojas físicas. Todas as regras e promoções são válidas apenas para produtos vendidos
                e entregues pela Cobasi. Em caso de divergência de valores no site, o valor válido é o do carrinho de
                compras.
            </p>
        </div>
        <div class="contMoreInfos">
            <div class="wpp">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <a href="https://api.whatsapp.com/send/?phone=%2B5511933505743&text=Quero+Comprar%21">
                    Compre pelo whatsapp
                </a>
            </div>
            <h2>
                Siga a Cobasi nas redes sociais
            </h2>
            <div class="socialMedias">
                <a href="https://www.facebook.com/CobasiOficial">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/cobasi/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/user/TVCOBASI/videos">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/cobasi">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
            <h2>
                Baixe nosso aplicativo
            </h2>
            <a href="https://apps.apple.com/br/app/cobasi-pet-shop-online/id1237962997">
                <img src="https://www.cobasi.com.br/img/app-store.svg" alt="">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.root.cobasi.Activities&pli=1">
                <img src="https://www.cobasi.com.br/img/google-play.svg" alt="">
            </a>
        </div>
    </section>
    <div class="selos">
        <img src="https://www.cobasi.com.br/_next/image?url=%2Fimg%2F1001891.png&w=256&q=75" alt="">
        <img src="https://www.cobasi.com.br/img/selo-gptw.svg" alt="">
    </div>
</nav>